body{
    background-color: #ffffff;
    font-family: 'Opens Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* página inicial */

.background{
    background-image: url(img/sapatos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    transition: all .35s ease;
    background-color: #ffffff;
    padding: 14px 14%;
}

.logo{
    font-weight: 500;
    font-size: 1rem;
}

.cabeçalho-link{
    display: flex;
    font-size: 1rem;
    gap: 5rem;

}

.cabeçalho-link a{
    color: #111;
    font-weight: 700;
    transition: 0.3s;
    text-decoration: none;
}

.cabeçalho-link a:hover{
    color: #dba776;
}

.banner{
    padding: 7rem 0 0 8.5rem;
    line-height: 4rem;
    font-style: normal;
}

.banner h1{
    font-size: 4rem;
    font-family: Helvetica;
    color:#dba776;
}

.banner p {
    color:#ffffff;
}

.banner button{
    background-color: #dba776;
    padding: 1rem 3rem 1rem;
    border-radius: 5px;
    color:#ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.banner button:hover{
    background-color: #111;
    transform: scaleY(1.2);

}

section{
    padding-top: 7rem;
}

section h1{
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.produtos{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    text-align: center;
}

.fotos img{
    width: 400px;
    height: auto;
    transition: 0.35s ease;
}

.fotos img:hover{
    transform: scale(0.9) translateY(5px);
}

.rodape{
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 5rem;
    background-color: #111;
    padding: 4rem;
    margin-top: 5rem;
    display: grid;
}

.meio-rodape h3{
    color:#fff;
    font-size: 23px;
    margin-bottom: 1.6rem;

}

.meio-rodape h5{
    font-size: 15px;
    font-weight: 600;
    color: #555;
}

.ultimo-texto{
    text-align: center;
    background-color: #111;
    color:#fff;
}

/* página sobre nós */

.titulo-sobre-nos {
    margin: 5px 5px 5px 30px;
    font-size: 35px;
    padding: 30px 30px;
}

.subtitulo-sobre-nos {
    margin: 5px 5px 5px 5px;
    font-size: 20px;
    padding: 30px 30px;
}

.titulo-arnaldo {
    margin: 10px 10px 10px 30px;
    font-size: 35px;
    padding: 30px 30px;
    text-align: center;
}

.subtitulo-arnaldo {
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    padding: 30px 30px;
}

/* Com o main eu posso mudar o fundo da página sobre nós sem alterar o texto e imagem */
main {
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    /* background-color: #D3D3D3; */
}

section,
aside {
    width: 45%;
}

section header {
    padding: 10px;
    text-align: center;
    /* background-color: #DCDCDC; */
}

section div {
    padding: 10px;
    text-align: center;
    /* background-color: #DCDCDC; */
}

aside header {
    padding: 10px;
    text-align: center;
    /* background-color: #DCDCDC; */
}

aside div {
    padding: 10px;
    text-align: center;
    /* background-color: #DCDCDC; */
}

/* página de contato */
.contato{
    font-family: 'Quicksand', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.contato:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(img/fundo-form.webp) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.contato-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#dba776;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.esquerda{
    height: 100%;
    background: url(img/fundo-form.webp) no-repeat center;
    background-size: cover;
}

.direita{
    padding: 25px 40px;
}

h2{
    position:relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color:#fff;
}

.campo{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.campo:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.campo:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area{
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    color: #111;
    transition: .3s;
}

.btn:hover{
    background-color:#b1aba4;
}